 ## **Data analysis using python - blinkit**

#### **Import library**

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### Reading Raw Data

In [3]:
df = pd.read_csv('blinkit_data.csv')

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2010,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2000,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0

#### Sample Data

In [5]:
df.head()

,Item Fat Content,Item Identifier,Item Type,Outlet Establishment Year,Outlet Identifier,Outlet Location Type,Outlet Size,Outlet Type,Item Visibility,Item Weight,Sales,Rating
0,Regular,FDX32,Fruits and Vegetables,2012,OUT049,Tier 1,Medium,Supermarket Type1,0.100014,15.10,145.4786,5.0
1,Low Fat,NCB42,Health and Hygiene,2022,OUT018,Tier 3,Medium,Supermarket Type2,0.008596,11.80,115.3492,5.0
2,Regular,FDR28,Frozen Foods,2010,OUT046,Tier 1,Small,Supermarket Type1,0.025896,13.85,165.0210,5.0
3,Regular,FDL50,Canned,2000,OUT013,Tier 3,High,Supermarket Type1,0.042278,12.15,126.5046,5.0
4,Low Fat,DRI25,Soft Drinks,2015,OUT045,Tier 2,Small,Supermarket Type1,0.033970,19.60,55.1614,5.0

#### Size of data its mentining rows and columns details

In [6]:
df.shape

(8523, 12)

#### Field Names

In [9]:
df.columns

Index(['Item Fat Content', 'Item Identifier', 'Item Type',
       'Outlet Establishment Year', 'Outlet Identifier',
       'Outlet Location Type', 'Outlet Size', 'Outlet Type', 'Item Visibility',
       'Item Weight', 'Sales', 'Rating'],
      dtype='object')

#### Data Types

In [10]:
df.dtypes

Item Fat Content              object
Item Identifier               object
Item Type                     object
Outlet Establishment Year      int64
Outlet Identifier             object
Outlet Location Type          object
Outlet Size                   object
Outlet Type                   object
Item Visibility              float64
Item Weight                  float64
Sales                        float64
Rating                       float64
dtype: object

####  Cleaning the Item Fat Content Column

##### First getting the unique values from the column

In [11]:
df["Item Fat Content"].unique()

array(['Regular', 'Low Fat', 'low fat', 'LF', 'reg'], dtype=object)

#### Converting the lower case and short words into Proper Names

In [12]:
df["Item Fat Content"] = df["Item Fat Content"].replace({'LF': 'Low Fat',
                                                         'reg': 'Regular',
                                                          'low fat': 'Low Fat'})

##### Checking the unique values again

In [14]:
df["Item Fat Content"].unique()

array(['Regular', 'Low Fat'], dtype=object)

## **Bussiness Requirement**

In [24]:
# total sales
total_sales = df["Sales"].sum()
total_sales

np.float64(1201681.4808)

In [18]:
# average sales
avg_sales = df["Sales"].mean()
avg_sales

np.float64(140.9927819781767)

In [19]:
# total number of items sold
total_numberof_items_sold = df["Sales"].count()
total_numberof_items_sold

np.int64(8523)

In [26]:
# average rating
avg_rating = df["Rating"].mean()
avg_rating

np.float64(3.965857092573038)

In [31]:
# Displaying the data
print(f"Total Sales: ${total_sales:,.0f}")
print(f"Avg Sales: ${avg_sales:,.0f}")
print(f"Total number of items sold: {total_numberof_items_sold:.0f}")
print(f"Avg rating: {avg_rating:,.0f}")

Total Sales: $1,201,681
Avg Sales: $141
Total number of items sold: 8523
Avg rating: 4

## ** Charts Requirement**

#### Total sales by fat content